body {
    background-image: url("zk.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

div {
    text-align: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: palevioletred;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: top;
    outline:black;
}